body {
    font-family: Open Sans;
}

header {
    background-color: #004175;
    color: white;
    font-size: 12px;
    padding: 10px;
    border-bottom-width: 2px;
    border-bottom-color: #89DEEF;
    border-bottom-style: solid;
}

h2 {
    font-size: 20px;
}

.dogs {
    max-width: 320px;
    height: auto;
    display: wrap;
    flex-wrap: space-around;
    justify-content: flex-start;
    /* border: solid;
    border-color: red; */
}

.dog_listing p {
    font-weight: bold;
}

ul {
    list-style-type: none;
    background-color: #89DEEF;
}

.bean {
    background-color: burlywood;
}

.zelda {
    background-color: lightpink;
}